---

- name: Ensure dependency is installed (Ubuntu).
  apt: name=apt-transport-https state=present

- name: Download Elasticsearch
  get_url:
    url: "https://artifacts.elastic.co/downloads/kibana/kibana-{{ kibana_version }}-amd64.deb"
    dest: /tmp

- name: Install Elasticsearch
  apt: deb="/tmp/kibana-{{ kibana_version }}-amd64.deb"

- name: Ensure Kibana is started and enabled at boot.
  service:
    name: kibana
    state: started
    enabled: yes

- name: Copy Kibana configuration.
  template:
    src: kibana.yml.j2
    dest: "/opt/kibana/config/kibana.yml"
    owner: root
    group: root
    mode: 0644
  notify: restart kibana
